<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

	<session-factory>
		<!-- Database connection settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hib</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>

        <!-- JDBC conncetion pool (use the built-in) -->
		<property name="hibernate.connection.pool_size">1</property>
		
		<!-- sql dialect  -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		
		<!--Echo all executed sql to stdout   -->
		<property name="show_sql">true</property>
		
		<!--drop existing tables and create nw one    -->
		<property name="hibernate.hbm2ddl.auto">create</property>
		
		<mapping class="com.yogi.hibernate.Student_Info" />

	</session-factory>

</hibernate-configuration>